<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/styles/admin.css}" />
    <link rel="stylesheet" th:href="@{/styles/common.css}" />
    <link rel="stylesheet" th:href="@{/styles/header.css}" />
    <link rel="stylesheet" th:href="@{/styles/listArticle.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div th:replace="~{admin/nav :: topnav}">
    </div>
    <div th:replace="~{admin/aside :: aside}"></div>
    <div class="p-4 sm:ml-64">
      <div class="border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <div class="grid gap-4 mb-4">
          <div th:replace="~{admin/innerDashboardContent :: innerDashboardContent}"></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
  </body>
</html>
