<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/styles/admin.css}" />
  </head>
  <body>
    <div id="dashboard-container">
      <div id="sidebar">
        <!-- <a href="/"> LOGO </a> -->
        <a href="/admin">
          <button>Dashboard</button>
        </a>

        <a href="/admin/document"><button>Documents</button></a>
        <a href="/admin/blog"><button id="blogBtn">Blog</button></a>
        <a href="/admin/user"><button>User</button></a>
        <a href="/admin/setting"><button>Setting</button></a>
        <a href="/admin/logout"><button>Logout</button></a>
      </div>

      <div id="dashboard-content">
        <div id="header">Dashboar header</div>
        <div id="inner-dashboard-content">
          <h1 th:if="${article != null}">Create Article</h1>
          <form th:if="${article != null}" th:action="@{/article/create}" th:object="${article}" method="post">
            <label for="title">Title</label>
            <input type="text" th:field="*{title}" id="title" name="title" />

            <label for="authorId">Author ID:</label>
            <input type="number" th:field="*{authorId}" id="authorId" name="authorId" />

            <label for="categoryId">Category ID:</label>
            <input type="number" th:field="*{categoryId}" id="categoryId" name="categoryId" />

            <label for="content">Content</label>
            <textarea th:field="*{content}" id="content" name="content"></textarea>

            <button type="submit">Create Article</button>
          </form>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
  </body>
</html>
