<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tạo bài viết</title>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
    <link rel="stylesheet" th:href="@{/styles/createArticle.css}">
  </head>
  <body>
    <div id="container">
      <h1 th:if="${article != null}">Create Article</h1>

      <form th:if="${article != null}" th:action="@{/article/create}" th:object="${article}" method="post">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" name="title" />

        <label for="authorId">Author ID:</label>
        <input type="number" th:field="*{authorId}" id="authorId" name="authorId" />

        <label for="categoryId">Category ID:</label>
        <input type="number" th:field="*{categoryId}" id="categoryId" name="categoryId" />

        <label for="content">Content</label>
        <textarea th:field="*{content}" id="content" name="content"></textarea>

        <button type="submit">Create Article</button>
      </form>
    </div>
  </body>
</html>
