<div th:fragment="innerDashboardContent">
  <div id="inner-dashboard-content">
    <a th:if="${articles != null}" href="/article/create">
      <button id="btnThemMoiBaiViet">Thêm mới bài viết</button>
    </a>

    <table th:if="${articles != null}">
      <tr th:each="article : ${articles}">
        <td th:text="${article.articleId}"></td>
        <td th:text="${article.title}"></td>
        <td><a th:href="@{/article/{id}/edit(id=${article.articleId})}">Chỉnh sửa</a></td>
      </tr>
    </table>
  </div>
</div>
