<div th:fragment="articlePagination">
  <div th:if="${articles.totalPages > 1}">
    <ul class="inline-flex -space-x-px text-sm h-8">
      <li th:if="${articles.hasPrevious()}" class="pag-item">
        <a th:href="@{'/admin/article?page=' + ${articles.number}}" class="page-link flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Trước</a>
      </li>
      <li th:each="i : ${#numbers.sequence(0, articles.totalPages - 1)}" class="pag-item">
        <a
          th:href="@{'/admin/article?page=' + ${i + 1}}"
          th:text="${i + 1}"
          class="page-link flex items-center justify-center px-4 h-10 leading-tight border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          th:classappend="${i == articles.number} ? 'bg-blue-50 text-blue-600' : 'text-gray-500 bg-white'"
        ></a>
      </li>
      <li th:if="${articles.hasNext()}" class="pag-item">
        <a th:href="@{'/admin/article?page=' + ${articles.number + 2}}" class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">kế</a>
      </li>
    </ul>
  </div>
</div>

<div th:fragment="userPagination">
  <div th:if="${users.totalPages > 1}">
        <ul class="inline-flex -space-x-px text-sm h-8">
          <li th:if="${users.hasPrevious()}">
            <a th:href="@{'/admin/user?page=' + ${users.number}}" class="page-link flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Trước</a>
          </li>
          <li th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}">
            <a th:href="@{'/admin/user?page=' + ${i + 1}}" th:text="${i + 1}" class="page-link flex items-center justify-center px-4 h-10 leading-tight  border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" th:classappend="${i == users.number} ? 'bg-blue-50 text-blue-600' : 'text-gray-500 bg-white'"></a>
          </li>
          <li th:if="${users.hasNext()}">
            <a th:href="@{'/admin/user?page=' + ${users.number + 2}}" class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">kế</a>
          </li>
        </ul>
  </div>
</div>
