<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>SGU BLOG</title>
    <link th:href="@{/styles/homePage.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <h2>Blog Name</h2>
    </div>

    <div class="row">
      <div class="leftcolumn">
        <!-- blog -->
        <div class="card" th:each="article : ${articles}">
          <h2 th:text="${article.title}"></h2>
          <h5 th:text="${article.create_date}"></h5>
          <div class="fakeimg" style="height: 200px"></div>
          <p th:text="${article.content}"></p>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="card">
          <h2>About Me</h2>
          <div class="fakeimg" style="height: 100px">Image</div>
          <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <div class="fakeimg">Image</div>
          <br />
          <div class="fakeimg">Image</div>
          <br />
          <div class="fakeimg">Image</div>
        </div>
        <div class="card">
          <h3>Follow Me</h3>
          <p>Some text..</p>
        </div>
      </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script type="text/javascript" th:src="@{/js/test.js}"></script>
  </body>
</html>
