#dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#dashboard-content {
  width: 100%;
  background-color: aquamarine;
}

#sidebar {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

#header {
  background-color: blueviolet;
}
